<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535678825171-ggcqjqr10lq2a66u7759lrod4gcp5et6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535678825171-ggcqjqr10lq2a66u7759lrod4gcp5et6</string>
	<key>API_KEY</key>
	<string>AIzaSyAtn-rrWbqL8uff3rbh6emw77kTaGRkio8</string>
	<key>GCM_SENDER_ID</key>
	<string>535678825171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsf.event.reminder.app</string>
	<key>PROJECT_ID</key>
	<string>event-reminder-app-ff45f</string>
	<key>STORAGE_BUCKET</key>
	<string>event-reminder-app-ff45f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535678825171:ios:c1e61a264655712baa5a26</string>
</dict>
</plist>